<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>
      <div class="ion-text-center ion-padding home-logo">
        <img [src]="'https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png'" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-button (click)="opens = true">OPen modal</ion-button>

<ion-button [routerLink]="['/about']">Go to About Page</ion-button>


  <!-- Card Modal -->
  <ion-modal [isOpen]="opens" [swipeToClose]="false" [presentingElement]="routerOutlet.nativeEl">
    <ng-template>
      <ion-content>
        Modal Content
        <ion-button (click)="opens = false">Close modal</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>